/* Variable Declarations */

:root {
  --background: #eeede9;
  --main-color: rgb(41, 41, 41);
  --terciary-color: #867968;
  --accent-color: #c55308;
  --header-font: "Outfit", sans-serif;
  --paragraph-font: "Spline Sans", sans-serif;
}

/* General Styles */

body {
  background-color: var(--main-color);
  font-family: var(--header-font);
  color: var(--background);
}

/* Hero Section */

.hero {
  text-align: center;
}

.hero h1 {
  margin-top: 350px;
}

.hero a {
  margin: 100px 0;
}

.hero p {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 120px;
}

/* Section Headings */

h1 {
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  margin-top: 60px;
}

h2 {
  font-size: 90px;
  font-weight: 700;
}

h3 {
  margin: 0 auto;
  font-weight: 400;
  font-size: 40px;
}

h4 {
  font-size: 20px;
}

/* Paragraphs, Lists and Forms */

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 20px;
  font-weight: 200;
  line-height: 1.6;
  margin: 0 10px 0 0;
}

p {
  font-family: var(--paragraph-font);
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

form {
  display: flex;
  flex-direction: column;
  font-family: var(--paragraph-font);
}

input,
textarea {
  background-color: var(--background);
  margin: 5px 0;
  border: 1px solid rgb(41, 41, 41);
  border-radius: 5px;
  padding: 5px;
}

/* Links */

.dark-btn {
  background-color: var(--main-color);
  max-width: 130px;
  color: #eeede9;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
  border-radius: 30px;
  font-family: var(--header-font);
  border: 1px solid var(--main-color);
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.dark-btn:hover {
  background-color: var(--background);
  color: var(--main-color);
  border: 1px solid var(--main-color);
  transform: scale(1.05);
}

.navbar-btn {
  color: var(--background);
  text-decoration: none;
  font-family: var(--header-font);
  font-size: 18px;
}

.navbar-btn:hover {
  text-decoration: none;
  transform: none;
  color: var(--accent-color);
}

.light-btn {
  background-color: var(--background);
  max-width: 130px;
  color: var(--main-color);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 20px;
  border-radius: 30px;
  font-family: var(--header-font);
  border: 1px solid var(--background);
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.light-btn:hover {
  background-color: var(--main-color);
  color: var(--background);
  border: 1px solid var(--background);
  transform: scale(1.05);
}

/* Navbar Styles */

.navbar-custom {
  background-color: var(--main-color) !important;
  color: var(--background) !important;
}

.navbar-toggler {
  border: none;
  background: var(--main-color);
}

.navbar-toggler-icon {
  border: none;
  color: var(--background);
}

/* Work, About and Services Sections */

.work,
.services,
.about {
  background-color: var(--background);
  color: var(--main-color);
  display: flex;
  padding: 40px 0;
}

.about {
  background-color: var(--main-color);
  color: var(--background);
  padding: 40px 0;
}

/* Footer Styles */

footer {
  padding: 60px 50px 50px 40px;
  background-color: var(--main-color);
  font-family: var(--header-font);
  color: var(--background);
}

footer li,
footer h4 {
  text-align: right;
  margin-right: 0;
}

/* Contact Page */

.contact-page h1 {
  margin-top: 150px;
  margin-bottom: 100px;
}

.contact-page {
  background-color: var(--background);
  color: var(--main-color);
}

.contact-element {
  margin-bottom: 100px;
  margin-top: 30px;
}

/* Media Queries */

@media (max-width: 700px) {
  h1 {
    font-size: 65px;
    margin-top: 80px;
  }
  .hero h1 {
    margin-top: 250px;
  }
  .address {
    margin-left: 0;
    margin-top: 20px;
  }
  .scroll-down {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .about h3 {
    text-align: left;
    font-size: 28px;
    font-weight: 300;
  }
  .about p {
    margin-top: 30px;
  }
  .services li,
  .services h2,
  .services h3 {
    margin-left: 10px;
  }
  .logo {
    margin-bottom: 40px;
  }
  .about {
    margin-left: 10px;
  }
}
